<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title <sup class="text-danger">*</sup></label>
    <input id="title" nz-input type="text" class="form-control" formControlName="name" placeholder="e.g., Minirin" />
  </div>
  <div class="form-group">
    <label for="quantity">Quantity <sup class="text-danger">*</sup></label>
    <input id="quantity" nz-input type="number" class="form-control" formControlName="quantity" placeholder="e.g., 10"
      min="1" />
  </div>
  <div class="form-group">
    <label for="price">Price <sup class="text-danger">*</sup></label>
    <input id="price" nz-input type="number" class="form-control" formControlName="price" placeholder="e.g., ৳1200"
      min="1" />
  </div>
  <div class="form-group">
    <label for="brand">Brand <sup class="text-danger">*</sup></label>
    <input id="brand" nz-input type="text" class="form-control" formControlName="brand"
      placeholder="e.g., Ferring Pharmaceuticals" />
  </div>
  <div class="form-group">
    <label for="dosage">Dosage <sup class="text-danger">*</sup></label>
    <input id="dosage" nz-input type="text" class="form-control" formControlName="dosage" placeholder="e.g., 0.1 mg" />
  </div>
  <div class="form-group">
    <label for="lowStockLimit">Low Stock Limit <sup class="text-danger">*</sup></label>
    <input id="lowStockLimit" nz-input type="number" class="form-control" formControlName="lowStockThreshold"
      placeholder="e.g., 10" min="1" />
  </div>
  <div nz-flex nzJustify="flex-end" class="form-group">
    <button type="submit" class="primary-btn" nz-button nzShape="round">
      Submit
    </button>
  </div>
</form>
