// label {
//   font-weight: 500;
//   font-size: 1.4rem;
//   color: #222;
// }

input {
  border: 1px solid #c7d0d9 !important;
  width: 100%;
  border-radius: .8rem !important;
  background: #fff !important;
  height: 2.5rem;
  font-size: 14px;
}
