<!-- <h1>Area Code</h1> -->
<div class="table-responsive" *ngIf="componentState as state">

	@if(state?.codes?.length){
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Color</th>
				<th scope="col">Title</th>
				<th scope="col">Code</th>
				<th scope="col">Manager</th>
				<th scope="col">Total Expense</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			@for(code of state?.codes; track code._id; let i = $index;){
			<tr>
				<th scope="row">{{i + 1}}</th>
				<td scope="row"><nz-color-picker [ngModel]="code?.color"></nz-color-picker></td>
				<td>{{code?.title | titlecase}}</td>
				<td>{{code?.code}}</td>
				<td>{{code?.manager?.name | titlecase}}</td>
				<td>৳ {{code?.marketingExpense}}</td>
				<td>
					<button nz-button title="delete" class="mx-2" nzShape="circle" nzDanger (click)="deleteAreaCode(code)">
						<span nz-icon nzType="delete" nzTheme="outline"></span>
					</button>
					<button nz-button title="edit" nzShape="circle" (click)="updateAreaCode(code)">
						<span nz-icon nzType="edit" nzTheme="outline"></span>
					</button>
				</td>
			</tr>}
		</tbody>
	</table>
	}@else {
	<app-global-no-data></app-global-no-data>
	}

</div>
