<div class="container">
  <div class="auth-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="form-group">
        <label for="username">Username</label>
        <nz-input-group
          [nzSuffix]="suffixTemplateInfo"
          [nzPrefix]="prefixTemplateUser"
        >
          <input
            type="text"
            nz-input
            formControlName="username"
            placeholder="Enter your username"
            (input)="onInput($event)"
          />
            <!-- [nzAutocomplete]="auto" -->
            <!-- <nz-autocomplete
            [nzDataSource]="options"
            nzBackfill
            #auto
          ></nz-autocomplete> -->
        </nz-input-group>
        <ng-template #prefixTemplateUser
          ><span nz-icon nzType="user"></span
        ></ng-template>
        <ng-template #suffixTemplateInfo>
          <span
            nz-icon
            nz-tooltip
            nzTooltipTitle="Extra information"
            nzType="info-circle"
          ></span>
        </ng-template>
        <div
          *ngIf="
            loginForm.get('email')?.touched && loginForm.get('email')?.invalid
          "
        >
          <small class="s_error" *ngIf="loginForm.get('username')?.errors?.['required']">
            User name is required.
          </small>
          <!-- <small *ngIf="loginForm.get('username')?.errors?.['username']">
            Please enter a valid email address.
          </small> -->
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="input password"
            formControlName="password"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
        >
          <small class="s_error" *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required.
          </small>
        </div>
      </div>

      <!-- Submit -->
      <button
        nz-button
        class="primary-btn my-2"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
    <p class="black">
      Don't have an account. Please register
      <a routerLink="/auth/register">here</a>
    </p>
  </div>
</div>
