<app-global-loader *ngIf="loader"></app-global-loader>

<ng-container *ngIf="!loader">
  <ng-container *ngIf="users?.length">
    <div class="user-card-wrapper">
      <div class="user-card-container" *ngFor="let user of users">
        <nz-card nzHoverable class="user-card">
          <nz-card-meta [nzTitle]="user.name" [nzAvatar]="avatarTemplate" [nzDescription]="user.role | titlecase">
          </nz-card-meta>
          <ng-template #avatarTemplate>
            <img [src]="'assets/img/profile.jpg'" alt="Avatar" class="user-avatar" />
          </ng-template>
          <div class="card-details">
            <p class="user-email">{{ user?.email }}</p>
            <button nz-button [nzType]="user?.role === 'user' ? 'primary' : 'default'" class="role-button"
              (click)="editRole(user)">
              {{ user?.role === 'user' ? 'Make Admin' : 'Remove Admin' }}
            </button>
          </div>
        </nz-card>
      </div>
    </div>
  </ng-container>
</ng-container>
