<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <h1>Pharma Stocks</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item>
        <a routerLink="dashboard" routerLinkActive="active-link">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a routerLink="stocks" routerLinkActive="active-link">Stocks</a>
      </li>
      <li nz-menu-item>
        <a routerLink="invoice" routerLinkActive="active-link">Invoice</a>
      </li>
      <li nz-menu-item>
        <a routerLink="customer" routerLinkActive="active-link">Customer</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span
          (click)="isCollapsed = !isCollapsed"
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
