@if(expenseList()?.length){
<table class="table table-responsive">
	  <thead>
	  	<tr>
	  		<th scope="col">#</th>
	  		<th scope="col">Type</th>
	  		<th scope="col">Description</th>
	  		<th scope="col">Amount</th>
	  		<th scope="col">Created By</th>
			@if(type() !== ExpenseType.PRODUCT){
	  		<th scope="col">Actions</th>
			}
	  	</tr>
	  </thead>
	  <tbody>
	  	@for(list of expenseList(); track list._id; let i = $index){
		<tr>
	  		<th scope="row">{{i + 1}}</th>
	  		<td>{{list?.type | titlecase}}</td>
	  		<td>{{list?.description}}</td>
	  		<td>{{list?.amount | currency}}</td>
			<td>{{list?.createdBy?.name | titlecase}}</td>
			@if(list?.type !== ExpenseType.PRODUCT){
			<td class="d-flex flex-wrap">
				<button type="button" nz-button nzShape="circle" nzDanger><span nz-icon nzType="delete" nzTheme="outline"></span></button>
				<button type="button" nz-button nzShape="circle" nzType="default" ><span nz-icon nzType="edit" nzTheme="outline"></span></button>
			</td>
			}@else {
				<td></td>
			}
	  	</tr>}
	  </tbody>

</table>
}@else {
	<app-global-loader></app-global-loader>
}
