<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group my-2">
    <label>Name<sup class="text-danger">*</sup></label>
    <input
      nz-input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Mashroor Sany"
    />
    <div class="text-danger"
      *ngIf="
        form?.get('name')?.invalid &&
        (form.get('name')?.touched || form.get('name')?.dirty)
      "
    >
      <small *ngIf="form.get('name')?.errors?.['required']">
        Name is required.
      </small>
      <small *ngIf="form.get('name')?.errors?.['minlength']">
        Name must be at least 2 characters.
      </small>
    </div>
  </div>
  <div class="form-group my-2">
    <!-- <sup class="text-danger">*</sup> -->
    <label>Phone Number</label>
    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
      <ng-template #addOnBeforeTemplate>
        <nz-select
          ngModel="+88"
          [ngModelOptions]="{ standalone: true }"
          class="phone-select"
        >
          <nz-option nzLabel="+88" nzValue="+88"></nz-option>
        </nz-select>
      </ng-template>
      <input formControlName="contacts" id="'phoneNumber'" nz-input />
    </nz-input-group>
    <div class="text-danger"
      *ngIf="
        form?.get('contacts')?.invalid &&
        (form.get('contacts')?.touched || form.get('contacts')?.dirty)
      "
    >
      <small *ngIf="form.get('contacts')?.errors?.['required']">
        Phone number is required.
      </small>
    </div>
  </div>
  <div class="form-group my-2">
    <label>Email</label>
    <input
      nz-input
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="mashroor@gmail.com"
    />
  </div>
  <div class="form-group my-2">
    <label>Address<sup class="text-danger">*</sup></label>
    <textarea
      nz-input
      type="text"
      class="form-control"
      formControlName="address"
      placeholder="Airport road, sylhet 3100"
    ></textarea>
    <div class="text-danger"
      *ngIf="
        form?.get('address')?.invalid &&
        (form.get('address')?.touched || form.get('address')?.dirty)
      "
    >
      <small *ngIf="form.get('address')?.errors?.['required']">
        Address is required.
      </small>
      <small *ngIf="form.get('address')?.errors?.['minlength']">
        Address must be at least 3 characters.
      </small>
    </div>
  </div>
  <div class="form-group my-2">
    <label>Area code</label>
    <!-- <textarea
      nz-input
      type="text"
      class="form-control"
      formControlName="areaCode"
      placeholder="GB"
    ></textarea> -->
	<nz-select class="w-100" nzShowSearch [nzAllowClear]="form?.get('areaCode')?.value ? true: false" nzPlaceHolder="Select area code" formControlName="areaCode">
		@for(areaCode of areaCodes(); track areaCode._id){
		 	<nz-option [nzLabel]="areaCode?.code" [nzValue]="areaCode?._id"></nz-option>
			}
	 </nz-select>

    <div class="text-danger"
      *ngIf="
        form?.get('areaCode')?.invalid &&
        (form.get('areaCode')?.touched || form.get('areaCode')?.dirty)
      "
    >
      <small *ngIf="form.get('areaCode')?.errors?.['minlength']">
        Area code must be at least 3 characters.
      </small>
    </div>
  </div>
  <div class="form-group my-2">
    <label>Custom Message</label>
    <textarea
      nz-input
      type="text"
      class="form-control"
      formControlName="customMessage"
      placeholder="extra 10 %"
    ></textarea>
  </div>

  <div nz-flex nzJustify="flex-end" class="my-2">
    <button type="submit" [disabled]="form.invalid" class="primary-btn" nz-button nzShape="round">
      Submit
    </button>
  </div>
</form>
