<!-- <app-sidebar></app-sidebar> -->
<nz-layout class="layout">
  <nz-header>
    <div class="header-content">
      <h4 class="header-title">Pharma Stocks</h4>
      <button (click)="sidebar()" nz-button type="button">Menu</button>
    </div>
  </nz-header>
  <nz-content class="content my-2">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-affix nzOffsetBottom="10">
    <nz-footer class="footer">All rights reserved to Pharma Stocks</nz-footer>
  </nz-affix>
</nz-layout>


<!-- <router-outlet ></router-outlet> -->
