.bar-graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
    margin: 0 auto;
}

canvas {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 300px; // Adjust this value as needed
}

