<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="invoice-container">
    <div id="print-section">
      <!-- Header Section -->
      <header class="invoice-header">
        <div class="logo">
          <img src="assets/img/company_logo.jpeg" alt="Company Logo" />
        </div>
        <div class="company-details">
          <h1>{{ business.name | titlecase }}</h1>
          <address>
            {{ business.address | titlecase }}<br />
            Phone: {{ business.contact }}
          </address>
        </div>
      </header>

      <!-- Invoice Information -->
      <section class="invoice-info">
        <div class="info-group">
          <!-- <h3>From:</h3> -->
          <p>{{ business.name | titlecase }}</p>
          <address>
            {{ business.address | titlecase }}<br />
            Phone: {{ business.contact }}
          </address>
        </div>
        <div class="info-group">
          <h6>Customer Details:</h6>
          <div class="form-group mtop_0">
            <nz-select
              nzShowSearch
              nzAllowClear
              [nzBorderless]="true"
              nzPlaceHolder="Select Customer"
              [(ngModel)]="customer"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="onCustomerSelect($event)"
            >
              <nz-option
                *ngFor="let customer of customers; let i = index"
                nzCustomContent
                [nzLabel]="customer.name"
                [nzValue]="customer"
              >
                <!-- <span nz-icon nzType="windows"></span> -->
                {{ customer?.name | titlecase }}
                <!-- ({{ customer?.contacts }}) -->
              </nz-option>
            </nz-select>

            <!-- <nz-autocomplete #autoC [nzDefaultActiveFirstOption]="false">
              <ng-container *ngIf="customers.length > 0">
                <nz-auto-option
                  *ngFor="let customer of customers"
                  [nzValue]="customer?.name"
                  (click)="onCustomerSelect(customer)"
                >
                  <div class="d-flex jc-between gap-2">
                    <span>{{ customer?.name | titlecase }}</span>
                  </div>
                </nz-auto-option>
              </ng-container>
            </nz-autocomplete> -->
          </div>

          <address>
            <span *ngIf="customer?.sn">Customer Code: #{{ customer?.sn }}</span><br />
            <span *ngIf="customer?.address">{{ customer.address }}</span> <br />
            <span *ngIf="customer?.contacts"
              >Phone: {{ customer.contacts }}
            </span>
          </address>
        </div>
      <div class="info-group invoice-meta">
        <span>
          Invoice #: <span>{{ form?.get("sn")?.value || "N/A" }}</span>
        </span><br />
        <span>
          Date: <span>{{ date | date : "dd-MM-yyyy" }}</span>
        </span><br />
        <span *ngIf="!invoice">
          Status: <span>{{ form?.get('status')?.value | titlecase }}</span>
        </span>
        <div class="status-select-wrapper" *ngIf="invoice">
          <span>
            Status:
            <nz-select formControlName="status" aria-label="Invoice Status">
              <nz-option nzValue="due" nzLabel="Due"></nz-option>
              <nz-option nzValue="paid" nzLabel="Paid"></nz-option>
            </nz-select>
          </span>
        </div>

        <!-- 🔹 New Info Section -->
        @if((role === 'admin' || role === 'office') && customer?.customMessage){
          <div class="meta-info" (click)="info()">
          <span nz-icon nzType="info-circle" nzTheme="outline" class="info-icon"></span>
          <span class="meta-text">Additional Info</span>
        </div>}
      </div>
      </section>

      <!-- Product List -->
      <section class="product-list">
        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>MRP</th>
              <th>TP</th>
              <th>VAT</th>
              <th>Bonus Qty</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              formArrayName="products"
              *ngFor="let product of productsFormArray.controls; let i = index"
            >
              <tr [formGroupName]="i">
                <td>
                  <div class="form-group mtop_0">
                    <input
                      placeholder="Minirin"
                      nz-input
                      [nzBorderless]="true"
                      formControlName="name"
                      [nzAutocomplete]="auto"
                      (input)="searchProduct($event)"
                    />
                    <div class="autocomplete-wrapper">
                      <nz-autocomplete #auto [nzDefaultActiveFirstOption]="false" [nzBackfill]="true">
                        <ng-container *ngIf="products.length > 0">
                          <nz-auto-option
                            *ngFor="let item of products"
                            [nzValue]="item?.name"
                            (click)="onProductSelect(item, i)"
                          >
                            <div class="d-flex jc-between gap-2">
                              <span>{{ item?.name | titlecase }}</span>
                            </div>
                          </nz-auto-option>
                        </ng-container>
                      </nz-autocomplete>
                    </div>
                    <ng-container>
                      <p
                        *ngIf="
                          productsFormArray
                            ?.at(i)
                            ?.get('name')
                            ?.hasError('required') &&
                          (productsFormArray?.at(i)?.get('name')?.dirty ||
                            productsFormArray?.at(i)?.get('name')?.touched)
                        "
                        class="s_error"
                      >
                        Product name is required
                      </p>
                    </ng-container>
                  </div>
                </td>
                <td>
                  <!-- <nz-input-number
                    [nzBorderless]="true"
                    formControlName="quantity"
                    [nzMin]="1"
                    [nzMax]="stock?.quantity ? stock.quantity : 1"

                    [nzStep]="1"
                  ></nz-input-number> -->
                  <input
                    nz-input
                    [nzBorderless]="true"
                    formControlName="quantity"
                    type="number"
                    placeholder="Qty"
                    min="1"
                    aria-label="Quantity"
                  />
                  <ng-container>
                    <p
                      *ngIf="
                        productsFormArray
                          ?.at(i)
                          ?.get('quantity')
                          ?.hasError('required') &&
                        (productsFormArray?.at(i)?.get('quantity')?.dirty ||
                          productsFormArray?.at(i)?.get('quantity')?.touched)
                      "
                      class="s_error"
                    >
                      Product quantity is required
                    </p>
                  </ng-container>
                  <ng-container>
                    <p
                      *ngIf="
                        productsFormArray
                          ?.at(i)
                          ?.get('quantity')
                          ?.hasError('min') &&
                        (productsFormArray?.at(i)?.get('quantity')?.dirty ||
                          productsFormArray?.at(i)?.get('quantity')?.touched)
                      "
                      class="s_error"
                    >
                      Minimum quantity is 1
                    </p>
                    <p
                      *ngIf="
                        productsFormArray
                          ?.at(i)
                          ?.get('quantity')
                          ?.hasError('max') &&
                        (productsFormArray?.at(i)?.get('quantity')?.dirty ||
                          productsFormArray?.at(i)?.get('quantity')?.touched)
                      "
                      class="s_error"
                    >
                      Stock out
                    </p>
                  </ng-container>
                </td>
                <td>
                  {{
                    productsFormArray?.at(i)?.get("price")?.value
                      | number : "1.2-2"
                  }}
                </td>
                <td>
                  {{
                    productsFormArray?.at(i)?.get("tp")?.value
                      | number : "1.2-2"
                  }}
                </td>
                <td>
                  {{
                    productsFormArray?.at(i)?.get("vat")?.value
                      | number : "1.2-2"
                  }}
                </td>
                <td>
                  <input nz-input [nzBorderless]="true" formControlName="bonus" type="number" placeholder="Qty"
                          min="0" aria-label="Bonus Qty" />
                </td>
                <td>৳ {{ calculateProductTotal(product, i) }}</td>
                <td>
                  <button
                    *ngIf="i !== 0"
                    nz-button
                    nzShape="round"
                    type="button"
                    (click)="removeProduct(i)"
                  >
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div class="my-2">
          <button
            type="button"
            nz-button
            class="primary-btn"
            (click)="addProduct()"
          >
            Add Product
          </button>
        </div>
      </section>

      <!-- Footer Section -->
      <!-- <footer class="invoice-footer">
        <div class="summary">
          <p>
            Discount:
          </p>
          <div class="discount">
            <input
              nz-input
              [nzBorderless]="true"
              formControlName="discount"
              type="number"
              placeholder="Discount"
              min="0"
              step="0.01"
              aria-label="Discount"
            /> %
        </div>
          <p>Total Amount: {{ totalAmount | number : "1.2-2" }}</p>
        </div>
      </footer> -->
      <footer class="invoice-footer">
        <div class="summary">
          <!-- <p>Sub Amount: ৳ {{ subTotalAmount | number : "1.2-2" }}</p> -->
          <div class="discount">
            <label for="discount">Discount:</label>
            <input
              id="discount"
              nz-input
              [nzBorderless]="true"
              formControlName="discount"
              type="number"
              placeholder="Discount"
              min="0"
              step="0.01"
              aria-label="Discount"
            />
            %
          </div>
          <nz-divider></nz-divider>
          <p>Total Amount: ৳ {{ totalAmount | number : "1.2-2" }}</p>
        </div>
      </footer>
    </div>
    <div class="action-buttons d-flex justify-content-end">
      <!-- <button
          nz-button
          class="primary-btn"
          type="button"
          (click)="generatePDF()"
        >
          Generate PDF
        </button> -->
      <button nz-button class="primary-btn my-2" type="submit" [disabled]="form.invalid">
        Submit Invoice
      </button>
    </div>
  </div>
</form>

<!-- [useExistingCss]="true"
        printSectionId="print-section" ngxPrint -->
