//  p {
//    margin: 0;
//  }
// .md-drawer {
//   .ant-drawer {
//     width: 50% !important;
//     max-width: 600px;
//     min-width: 400px;

//   }

//   .ant-drawer-body {
//     padding: 16px;
//   }

//   .ant-drawer-header {
//     font-size: 18px;
//     font-weight: bold;
//   }
// }

// .w-50 {
//   width: 50%;
// }

.stock-card {
  width: 100%;
  max-width: 300px;
  /* Prevent cards from becoming too wide */
  margin: 0 auto;
  /* Center the card horizontally */
}

.container {
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
  /* Align cards properly */
}

.col-lg-4,
.col-md-6,
.col-sm-12 {
  padding: 15px;
  /* Add space between columns */
}
