<div class="container">
  <div class="auth-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="form-group">
        <label for="email">Username</label>
        <input
          nz-input
          id="username"
          type="text"
          formControlName="userName"
          placeholder="Enter your username"
        />
        <div
          *ngIf="
            loginForm.get('email')?.touched && loginForm.get('email')?.invalid
          "
        >
          <small *ngIf="loginForm.get('userName')?.errors?.['required']">
            User name is required.
          </small>
          <!-- <small *ngIf="loginForm.get('userName')?.errors?.['userName']">
            Please enter a valid email address.
          </small> -->
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          nz-input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
        >
          <small *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required.
          </small>
        </div>
      </div>

      <!-- Submit -->
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
