/* You can add global styles to this file, and also import other style files */
.full-drawer {
  .ant-drawer {
    width: 100% !important; /* Makes the drawer cover the full width */
    height: 100% !important; /* Makes the drawer cover the full height */
    max-width: 100% !important;
    top: 0;
  }

  .ant-drawer-body {
    padding: 0; /* Optional: Remove padding for full-screen content */
  }
}

.md-drawer {
  .ant-drawer {
    width: 50% !important; /* Makes the drawer take up half the screen width */
    max-width: 600px; /* Optional: Set a maximum width */
    min-width: 400px; /* Optional: Set a minimum width */
  }

  .ant-drawer-body {
    padding: 16px; /* Add padding for content inside the drawer */
  }

  .ant-drawer-header {
    font-size: 18px; /* Customize header font size */
    font-weight: bold;
  }
}
